.StatusesDashboard-EmojiView {
    margin-right: 10px;
    display: inline;
}

.StatusesDashboard-EmojiView_text {
    display: inline;
    position: relative;
    cursor: pointer;
}

aside.emoji-picker-react {
    position: absolute !important;
}

.StatusesDashboard-Emoji {
    display: none;
}
