.StatusesDashboard-DeleteStatus {
    margin-left: 10px;
    color: red;
    display: inline;
    cursor: pointer;
}

.StatusesDashboard-DeleteStatus:hover {
    transform: scale(1.3);
    transition: 0.3 ease
}

